.site-header {
  padding: 10px;
  position: absolute;
  z-index: 2;
  width: 100%;
  transition: background-color .3s ease-out;

  &--is-expanded{
    background-color: rgba($mainBlue, 0.55);
  }
  @mixin atMedium {
    background-color: rgba($mainBlue, 0.3);
  }

  &__menu-content {
    opacity: 0;
    transform: scale(1.2) ease-out;
    transition: all .3s ease-out;
    z-index: -10;
    position: relative;
    margin:0 auto;
    text-align: center;
    padding-top:80px;

    @mixin atMedium {
      opacity: 1;
      z-index: 1;
      padding-top:0;
      transform: scale(1);
    }
  }


  &__menu_content--is-visible{
    opacity: 1;
    z-index: 1;
    transform: scale(1);
  }

  &__menu-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 3px;
    z-index:10;

    @mixin atMedium{
      display:none;
    }
  }

  &__btn-container {

    @mixin atMedium{
      float:right;
    }
  }

  &__logo {
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(.8);
    transform-origin: 50% 0;
    position: absolute;
    background-color: $mainBlue;
    padding: 1.5625rem 2.25rem;
    @mixin atMedium {
      left: auto;
      transform: translateX(0);
    }
  }
}
